:root{
  --primary-color: #edf2fc;
  --secondary-color:#212121;
}

.dark-theme{
  --primary-color: #000106;
  --secondary-color:#fff;
}

* {
  margin: 0;
  padding: 0;
}

*:after,
*:before {
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background: var(--primary-color);
  font-family: "Roboto", "Roboto-flex", sans-serif;
  font-size: var(--fs-body-large);
  line-height: 1.5;
  font-weight: 500;
  text-align: center;
  scroll-behavior: smooth;
}

.container {
  position: relative;
  max-width: 1300px;
  margin-inline: auto;
  width: 100%;
  padding: 0.5rem;
}

.container-hero {
  position: relative;
  max-width: 1250px;
  margin-inline: auto;
}

.navbar {
  background-color: #141414;
  content: "";
  position: relative;
  border-radius: 100vw;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
}

.navbar:before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -10;
  width: 100%;
  height: 100%;
  border-radius: 100px;
  background-color: hsl(var(--clr-neutral-800));
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
}

#icon {
  width: 30px;
  cursor: pointer;
}

/* Animation Menu Header */

ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 0.5rem;
  font-size: 2.2rem;
}
ul:before {
  content: "";
  position: absolute;
  position-anchor: --li;
  bottom: anchor(bottom);
  left: anchor(left);
  right: anchor(right);
  height: 0.2em;
  background: #8b73ec;
  transition: 0.2s;
}
ul li:is(:hover, .active) {
  anchor-name: --li;
}
ul:has(li:hover) li.active:not(:hover) {
  anchor-name: none;
}

ul li a {
  color: #000;
  text-decoration: none;
  font-weight: 900;
  line-height: 1.5;
  padding-inline: 0.2em;
  display: block;
}

.salute {
  margin-top: 10px;
  font-size: 50px;
  color: #4b4d45;
}
.presentation {
  font-size: 120px;
  color: #8b73ec;
}

.portrait {
  margin-top: 20px;
}

.proyects {
  width: 75%;
  align-self: center;
  border-radius: 10px;
  border: none;
  background-color: #dad2ff;
  color: #493d9e;
}

.contact {
  width: 75%;
  align-self: center;
  background-color: #b2a5ff;
  border-color: #b2a5ff;
  border-radius: 10px;
  color: #ffff;
}

.quote {
  margin: 100px;
  font-size: 40px;
  font-style: italic;
  color: #4b4d45;
}

h4 {
  color: #4b4d45;
}
.more {
  width: 75%;
  align-self: center;
  margin-top: 10px;
  color: #4b4d45;
}
